---
import Layout from '../layouts/Layout.astro'
---

<Layout>	
	<div class="fixed inset-0 bg-center bg-no-repeat bg-cover" style="background-image: url('./src/assets/about_bg.png');">
		<div class="h-screen w-screen flex items-center justify-center relative z-10 text-[#4C4B46]">
			<img src="./src/assets/envelope.png" class="transform rotate-[6.7deg] w-auto max-h-[100%]" />
			<div class="absolute inset-0 flex items-center justify-center z-30 ">
				<div class="transform rotate-[7.0deg] text-center px-8 pt-30 mt-0 max-w-[500px]" >
						<div class="text-lg font-syne-mono leading-5">
							<p class="mb-3">
								hi again! i’m louisa (but people call me lou). 
								i’m not really good at describing myself but here are some stuff i like 
								(please talk to me about these, i'd love to chat!):
								</p>
								<ul class="list-decimal list-inside text-left pl-6">
									<li>maths</li>
									<li>coding; esp. web dev + design</li>
									<li>old & obscure internet culture</li>
									<li>music!</li>
									<li>movies (really anything)</li>
									<li>reading :)</li>
									<li>the early 2000s + 2010s</li>
									<li>hiking</li>
								</ul>
								</p>
								<div class="text-right relative right-0">
									<p>(<a href="/" class="underline">go back</a>)</p>
								</div>

				</div>
		</div>
		<img src="./src/assets/road.png" class="absolute bottom-0 right-0 w-auto h-auto max-h-[500px] z-20" />
	</div>
</Layout>