---
import Layout from '../layouts/Layout.astro'
---

<Layout>	
	<div class="fixed inset-0 bg-center bg-no-repeat bg-cover" style="background-image: url('./src/assets/contacts_bg.png');">
		<div class="h-screen w-screen flex items-center justify-center relative z-10 text-[#4C4B46]">
			<img src="./src/assets/paper.png" class=" w-auto max-h-[100%] z-20" />
			<div class="absolute inset-0 flex items-center justify-center z-40 ">
				<div class=" text-center px-3 pt-7 mt-0 max-w-[500px] font-syne-mono text-xl" >
                    <h1 class="text-4xl font-avara underline mb-5">contact me</h1>
                    <p class="mb-2"><a href="mailto:v1peridae@protonmail.com" class="underline">email me</a> : v1peridae [at] protonmail.com</p>
                    <p class="mb-2">signal me : v1peridae.42</p>
                    <p class="mb-2"><a href="https://github.com/v1peridae" class="underline">check out my github</a> : v1peridae</p>
                    <p class="mb-2"><a href="https://www.instagram.com/v1peridae/" class="underline">instagram</a> : v1peridae</p>
                    <p class="mb-2"><a href="https://letterboxd.com/v1peridae/" class="underline">letterboxd</a> : v1peridae</p>
                    <p class="mb-2"><a href="https://www.pinterest.com/v1perid4e/" class="underline">pinterest</a> : v1perid4e</p>
                    <p class="mb-2"><a href="https://v1peridae.substack.com/" class="underline">substack</a> : v1peridae</p>
                    <p class="mb-2"><a href="https://open.spotify.com/user/31x5b45bkzcydzcnxenlf7jdvqxq?si=ff4ce1d631ae42a0" class="underline">spotify</a> : v1peridae</p>
                </div>
			</div>
		</div>
		<img src="./src/assets/wave.png" class="absolute -bottom-10 -right-10 w-auto h-auto max-h-[500px] z-1" />
        <a href="https://en.wikipedia.org/wiki/Neotribalism" class="absolute -top-2 left-50 w-auto h-auto max-h-[800px] z-25 pointer-events-none"><img src="./src/assets/phone.png" class="w-full h-full" /></a>
        <a href="/teeth"><img src="./src/assets/fish.png" class="absolute bottom-0 right-0 w-auto h-auto max-h-[500px] z-20 transform -rotate-[10deg]" /></a>
	</div>
</Layout>