---
import Layout from '../layouts/Layout.astro'
---

<Layout>	
	<div class="fixed inset-0 bg-center bg-no-repeat bg-cover" style="background-image: url('./src/assets/projects_bg.png');">
		<div class="h-screen w-screen flex items-center justify-center relative z-10 text-[#4C4B46]">
			<img src="./src/assets/book.png" class="w-auto max-h-[80%] relative left-[-130px] top-[-50px]" />
			<div class="absolute inset-0 flex items-center justify-center z-30 ">
				<div class="text-center px-8 pt-30 mt-0 max-w-[500px]" >
						<div class="text-lg font-syne-mono leading-5">
							<h1>projects</h1>
							<p><a href="https://github.com/v1peridae/yubidnb">yubidnb:</a> makes every unique yubikey otp into a unique dnb track! </p>
							<p><a href="https://github.com/v1peridae/delist">delist:</a> a social book recording website i built!</p>
							<p><a href="https://github.com/v1peridae/delist">delist:</a> a social book recording website i built!</p>

							

				</div>
		</div>
		<img src="./src/assets/road.png" class="absolute bottom-0 right-0 w-auto h-auto max-h-[500px] z-20" />
	</div>
</Layout>