* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("http://dl10.glitter-graphics.net/pub/590/590940trx4idmwj8.gif");
  background-attachment: fixed;
  background-repeat: repeat;
}

.center {
  text-align: center;
  margin: 20%;
  background-color: whitesmoke;
  border-width: 9px;
  border-style: solid;
  border-image: url("https://cdn.discordapp.com/attachments/904308736712138793/995929957790388284/image_copy.png")
    7 fill round;
}

#header-p {
  font-family: Verdana;
  font-size: 40px;
  color: deeppink;
  text-shadow: 20px white;
}

.nav {
  width: 22%;
  border-style: ridge;
  border-color: pink;
  margin-left: 5px;
  background: white;
  overflow: hidden;
  position: relative;
}

.container {
  display: block;
}
