---
import Layout from '../layouts/Layout.astro'
---

<Layout>	
	<div class="fixed inset-0 bg-center bg-no-repeat bg-cover" style="background-image: url('/friends_bg.webp');">
		<div class="h-screen w-screen flex flex-col items-start justify-start relative z-10 text-[#4C4B46] overflow-y-auto">
			<div class="w-full flex justify-center mt-6 mb-3">
				<img src="/webfriends.webp" class="w-auto max-h-[250px] z-20" />
			</div>
			<p class="text-sm font-syne-mono leading-10 text-center w-full mb-4">psst...you should left-click and right-click on your name!</p>
			<div class="flex flex-wrap justify-center gap-4 w-full mb-8">
				<img src="/reem.webp" class="w-auto max-h-[160px] z-20" onclick="window.open('https://reemkhalifa.xyz', '_blank')"  oncontextmenu="window.open('https://open.spotify.com/track/294NusLyTV6cRxJVjCqxML?si=b382d9352e5f48d8', '_blank'); return false;" />
				<img src="/froppii.webp" class="w-auto max-h-[160px] z-20" /> 
                <!--froppii lock in i need to add your stuff here!!!!! -->
				<img src="/joaquin.webp" class="w-auto max-h-[160px] z-20" onclick="window.open('https://jschere.com', '_blank')"  oncontextmenu="window.open('https://open.spotify.com/track/0FO4lzbW7ufcYSc1iHune9?si=361f2570988c4477', '_blank'); return false;" />
				<img src="/meghana.webp" class="w-auto max-h-[140px] z-20" onclick="window.open('https://meghana.co/', '_blank')"  oncontextmenu="window.open('https://open.spotify.com/track/0wvIGFIgbyz4JNwQhZgTv2?si=3ece8661b3c44cf5', '_blank'); return false;" />
				<img src="/alaska.webp" class="w-auto max-h-[140px] z-20" onclick="window.open('https://www.radioblahaj.com/', '_blank')"  oncontextmenu="window.open('https://open.spotify.com/track/1xNknVNOolLB4oQeEtNBX2?si=fhGlBBFESfGmJq0rk6jrtA', '_blank'); return false;" />
			</div>
			<img src="/pretty_quote.webp" class="absolute -top-10 right-14 w-auto h-auto max-h-[300px] z-1" />
			<img src="/lamp.webp" class="absolute -bottom-10 -left-10 w-auto h-auto max-h-[600px] z-1" />
			<img src="/stamp.webp" class="absolute -top-10 -right-10 w-auto h-auto max-h-[200px] z-1" />
            <div class="text-left absolute bottom-5 right-5 font-syne-mono text-sm">
                <p>(<a href="/" class="underline">go back</a>)</p>
            </div>
		</div>
		</div>
</Layout>
