---
import Layout from '../layouts/Layout.astro'
---

<Layout>	
<div class="flex flex-col items-center justify-center my-20">
<img src="/teeth.webp" class="w-auto h-auto max-h-[300px] z-20 center mb-10" />

<h1>human teeth for sale!</h1>
<p>barely used:</p>
<p class="underline">worth absolutely nothing.</p>
<p>all teeth are in good condition.</p>
<p>i feel the teeth tear out my flesh</p>
</div>

</Layout>