---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>v1peridae's asylum</title>
		
		<link rel="preload" href="/Avara-Bold.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/SyneMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>